---
import useWPApi, { WP_REST_API_ReformStory } from "~/hooks/useWPApi";
import { Image } from "@astrojs/image/components";
import dayjs from "dayjs";
import ja from "dayjs/locale/ja";
dayjs.locale(ja);
const { fetchPosts } = useWPApi();
const ReformPosts = await fetchPosts<WP_REST_API_ReformStory[]>(
  "reform_story",
  { per_page: 3, order: "asc" },
  false
);
if (!ReformPosts) return;
---

<h2 class="stories_tile">リフォームストーリー</h2>
<div class="stories">
  {
    ReformPosts.map((post) => (
      <div class="story">
        <a class="story_link" href={`/reform/${post.id}`}>
          <Image
            class="story_image"
            src={post.acf.main_image}
            alt={post.acf.catch_copy}
            format={"webp"}
            loading={"lazy"}
            width={1920}
            height={832}
          />
          <div class="story_content">
            <h3 class="story_title">{post.acf.catch_copy}</h3>
            {post.acf.spec_overview && (
              <p class="story_spec">{post.acf.spec_overview}</p>
            )}
          </div>
        </a>
      </div>
    ))
  }
</div>
<style lang="scss">
  .stories_tile {
    margin-top: 273px;
  }
  .stories {
    margin-top: 119px;
  }
  .story {
    position: relative;
    + .story {
      margin-top: 3px;
    }
  }
  .story_link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .story_content {
    position: absolute;
    max-width: $designLineWidth;
    height: 100%;
    inset: 0;
    margin: auto;
  }
  .story_title {
    text-align: left;
    margin-top: 49px;
    margin-left: 75px;
    display: inline-block;
    background-color: #fff;
    padding: 18px 33px;
    box-shadow: 0 3px 6px rgba($color: #000, $alpha: 0.16);
    font-size: 18px;
    font-weight: bold;
    @media screen and (max-width: 1300px) {
      margin-left: 2.5%;
    }
  }
  .story_spec {
    position: absolute;
    margin-left: 107px;
    bottom: 39px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    @media screen and (max-width: 1300px) {
      margin-left: 3%;
      bottom: 5%;
    }
  }
  .story_image {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .stories_tile {
      margin-top: vw(100px);
    }
    .stories {
      margin-top: vw(43px);
    }
    .story_title {
      font-size: vw(14px);
      padding: vw(5px) vw(15px);
      margin: vw(10px) 0 0 vw(24px);
    }
    .story_spec {
      font-size: vw(14px);
      // text-align: center;
      width: 100%;
      padding: 0 vw(30px);
      margin: 0;
    }
  }
</style>
