---
import UserIcon from "./UserIcon.astro";
import { Image } from "@astrojs/image/components";
import useWPApi from "~/hooks/useWPApi";
import type { ReformFlow } from "~/types/customFields";

const { fetchImage } = useWPApi();

export type Props = ReformFlow & { staff_image?: string };
const {
  flow_start,
  ienokoto_proposal,
  flow_fix,
  flow_construction_start_date,
  flow_completed_date,
  staff_image,
} = Astro.props;
---

<div class="reform_flow">
  <div class="flow_box">
    <div class="date_box">
      <time>{flow_start.date}</time>
    </div>
    <div class="content_box">
      <section class="inner">
        <h3 class="box_title">相談スタート・プランニング</h3>
        <div class="inner_content">
          <p class="balloon left">
            {flow_start.customer_comment}
          </p>
          {(<UserIcon src={flow_start.customer_image} name="お客様" />)}
        </div>
      </section>
      <section class="inner reverse">
        <h3 class="box_title">イエノコトのご提案</h3>
        <div class="inner_content">
          {staff_image && <UserIcon src={staff_image} name="石田" />}
          {
            ienokoto_proposal && (
              <p class="balloon right">{ienokoto_proposal}</p>
            )
          }
        </div>
      </section>
    </div>
  </div>
  <div class="flow_box">
    <div class="date_box">
      <time>{flow_fix.date}</time>
    </div>
    <div class="content_box">
      <section class="inner reverse">
        <h3 class="box_title">プラン確定</h3>
        <div class="inner_content">
          {
            (
              <Image
                src={flow_fix.image}
                format="webp"
                alt="プラン確定"
                width={189}
                height={223}
                loading={"lazy"}
              />
            )
          }
          <p class="description">
            {flow_fix.content}
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="flow_box">
    <div class="date_box">
      <time>{flow_construction_start_date}</time>
    </div>
    <div class="content_box">
      <section class="inner">
        <h3 class="box_title">施工開始</h3>
      </section>
    </div>
  </div>
  <div class="flow_box">
    <div class="date_box">
      <time>{flow_completed_date}</time>
    </div>
    <div class="content_box">
      <section class="inner">
        <h3 class="box_title">完成</h3>
      </section>
    </div>
  </div>
</div>
<style lang="scss">
  .reform_flow {
    max-width: 1430px;
    margin-right: auto;
    margin-left: auto;
  }
  .flow_box {
    display: flex;
    justify-content: center;
    &:last-child .content_box {
      min-height: auto;
    }
  }
  .date_box {
    width: 25%;
    text-align: center;
    height: 100%;
    font-weight: bold;
  }
  .content_box {
    position: relative;
    border-left: solid 2px #707070;
    min-height: 115px;
    width: 75%;

    &::before {
      content: "";
      display: block;
      background-color: #d2caca;
      width: 33px;
      height: 33px;
      border-radius: 100%;
      position: absolute;
      top: -6px;
      left: -17px;
    }
    .inner {
      margin: auto;
    }
    .box_title {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      max-width: 946px;
      text-align: left;
      line-height: 1em;
    }
    .inner_content {
      width: 75%;
      max-width: 837px;
      display: flex;
      margin-left: auto;
      margin-right: 0px;
      margin-top: 103px;
      margin-bottom: 107px;
      @media screen and (max-width: 1468px) {
        margin-right: 20px;
      }
      &:has(.balloon) {
        align-items: center;
      }
      p {
        line-height: calc(30 / 16);
      }
    }
  }
  .balloon {
    position: relative;
    display: inline-block;
    padding: 25px 33px;
    border-radius: 10px;
    border: solid 2px #b4acac;
    background-color: #fff;
    &.right,
    &.left {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 30%;
      }
    }
    &.left {
      margin-right: 82px;
      &::before {
        right: -42px;
        border: 10px solid transparent;
        border-left: 32px solid #afa5a5;
      }
      &::after {
        right: -36px;
        border: 10px solid transparent;
        border-left: 30px solid #fff;
      }
    }
    &.right {
      margin-left: 82px;
      &::before {
        left: -42px;
        border: 10px solid transparent;
        border-right: 32px solid #afa5a5;
      }
      &::after {
        left: -36px;
        border: 10px solid transparent;
        border-right: 30px solid #fff;
      }
    }
  }
  .description {
    margin-left: 47px;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .inner {
      &.reverse {
        .inner_content {
          flex-direction: column;
          &:has(.balloon) {
            align-items: flex-end;
          }
        }
      }
    }
    .reform_flow {
      max-width: none;
      padding: 0 vw(36px) 0 vw(29px);
    }
    .flow_box {
      gap: vw(30px);
    }
    .date_box {
      font-size: vw(10px);
      margin-top: vw(6px);
      width: auto;
    }
    .content_box {
      .box_title {
        font-size: vw(14px);
        margin-top: vw(4px);
        margin-left: vw(28px);
        max-width: none;
        width: auto;
      }
      .inner_content {
        width: auto;
        margin: vw(32px) 0 0 vw(32px);
        flex-direction: column-reverse;
        gap: vw(16px);
        &:has(.balloon) {
          align-items: flex-start;
          gap: vw(50px);
        }
      }
    }
    .balloon {
      font-size: vw(14px);
      padding: vw(19px) vw(18px);
      border-radius: vw(10px);
      border-width: vw(2px);
      &.left,
      &.right {
        margin: 0 0 vw(32px) 0;
        &:before {
          top: vw(-42px);
          border: vw(10px) solid transparent;
          border-bottom: vw(32px) solid #afa5a5;
        }
        &:after {
          top: vw(-36px);
          border: vw(10px) solid transparent;
          border-bottom: vw(30px) solid #fff;
        }
      }
      &.left {
        &:before,
        &:after {
          right: auto;
          left: vw(30px);
        }
      }
      &.right {
        &:before,
        &:after {
          right: vw(30px);
          left: auto;
        }
      }
    }
    .description {
      font-size: vw(14px);
      margin: 0 0 vw(40px) 0;
    }
  }
</style>
