---
import { Image } from "@astrojs/image/components";
export type Props = {
  id: number;
  name: string;
  titles: string[];
  image: string;
  description: string;
};
const { id, name, titles, image, description } = Astro.props;
---

<section class="staff_card">
  <a href={`/staff/${id}`}>
    <div class="profile">
      <Image
        class="profile_image"
        src={image}
        alt={name}
        width={192}
        height={192}
        format="webp"
        loading={"lazy"}
      />
      <div class="profile_detail">
        <h4 class="name">{name}</h4>
        {
          titles.map((role) => {
            return <p class="role">{role}</p>;
          })
        }
      </div>
    </div>
    <div class="description" set:html={description} />
  </a>
</section>

<style lang="scss">
  .staff_card {
    display: block;
    padding: 49px;
    border: 1px solid #707070;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.16);
    .profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      column-gap: 50px;
      margin-bottom: 53px;
      .profile_image {
        width: 192px;
        height: 192px;
        border-radius: 100%;
      }
      .name {
        font-size: 24px;
        margin-bottom: 26px;
      }
      .role {
        font-size: 16px;
        font-weight: bold;
        + .role {
          margin-top: 8px;
        }
      }
    }
    .description {
      line-height: 1.5;
    }
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .staff_card {
      max-width: vw(291px);
      padding: vw(32px) vw(30px);
      box-shadow: vw(10px) vw(10px) vw(6px) rgba(0, 0, 0, 0.16);
      .profile {
        column-gap: vw(27px);
        margin-bottom: vw(33px);
        .profile_image {
          width: vw(89px);
          height: auto;
          aspect-ratio: 1;
        }
        .name {
          font-size: vw(18px);
          margin-bottom: vw(10px);
        }
        .role {
          font-size: vw(14px);
          &:not(:first-child) {
            margin-top: vw(5px);
          }
        }
      }
    }
  }
</style>
