---
import { Image } from "astro:assets";
import classNames from "classnames";
export type Props = {
  src: string;
  name: string;
  width?: number;
  height?: number;
  class?: string;
};
const { src, name, width = 116, height = 116, class: className } = Astro.props;
---

<div class={classNames(["user_icon", className])}>
  <Image
    class="user_icon__img"
    src={src}
    alt={name}
    width={width}
    height={height}
    format={"webp"}
    loading={"lazy"}
  />
  <p class="user_name">{name}</p>
</div>
<style lang="scss">
  .user_icon {
    display: inline-block;
    min-width: 116px;
    &__img {
      border-radius: 100%;
      object-fit: cover;
      vertical-align: middle;
    }
  }
  .user_name {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .user_icon {
      min-width: 0;
      text-align: center;
      &__img {
        width: vw(90px);
      }
    }
    .user_name {
      font-size: vw(14px);
    }
  }
</style>
