---
import { Image } from "@astrojs/image/components";
import TopCatchImg1 from "~/img/top/top_back_01.png";
import TopCatchImg2 from "~/img/top/top_back_02.png";
import TopCatchImg3 from "~/img/top/top_back_03.png";
import Scroll from "~/img/top/scroll.png";
import Logo from "~/img/top/top_logo.png";
---

<div class="catch">
  <Image
    src={TopCatchImg1}
    data-src-1={TopCatchImg1.src}
    data-src-2={TopCatchImg2.src}
    data-src-3={TopCatchImg3.src}
    alt="女性が提案する暮らし方とリフォーム"
    id="top_image"
    class="catch_image"
    format="webp"
    loading={"eager"}
  />
  <div class="top_catch_logo">
    <Image src={Logo} alt="イエノコト" format="webp" width={467} />
    <p class="sub_copy">日本の暮らしと文化を次世代につなぎます</p>
  </div>
  <a class="top_scroll" href="#top">
    <Image
      src={Scroll}
      alt="scroll"
      class="scroll"
      loading={"lazy"}
      format="webp"
      width={43}
      height={12}
    />
  </a>
</div>
<script is:inline>
  // 時間帯によって背景画像を変更
  // 朝昼晩の時間帯でdata-src-1,2,3を出し分けるような処理
  (function () {
    const now = new Date();
    const hour = now.getHours();
    const catchImage = document.getElementById("top_image");
    if (!catchImage) return;
    if (hour >= 4 && hour < 11) {
      const moring = catchImage.getAttribute("data-src-1");
      if (!moring) return;
      catchImage.setAttribute("src", moring);
    } else if (hour >= 11 && hour < 17) {
      const noon = catchImage.getAttribute("data-src-2");
      if (!noon) return;
      catchImage.setAttribute("src", noon);
    } else {
      const night = catchImage.getAttribute("data-src-3");
      if (!night) return;
      catchImage.setAttribute("src", night);
    }
  })();
</script>
<style lang="scss">
  .catch {
    position: relative;
    text-align: center;
  }
  .catch_image {
    width: 100%;
  }
  .top_catch_logo {
    position: absolute;
    inset: 0;
    top: 50px;
    height: 234px;
    margin: auto;
    @media screen and (min-width: 1650px) {
      top: 100px;
    }
    @media screen and (max-width: $mobileBreakPoint) {
      width: vw(126px);
      height: vw(44px);
      top: vw(50px);
    }
  }
  .sub_copy {
    color: #fff;
    font-weight: bold;
    margin-top: 78px;
    font-size: 19px;
    @media screen and (max-width: 860px) {
      margin-top: 50px;
    }
    @media screen and (max-width: $mobileBreakPoint) {
      display: none;
    }
  }
  .top_scroll {
    display: block;
    width: 70px;
    height: 50px;
    position: absolute;
    margin: auto;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
    @media screen and (max-width: $mobileBreakPoint) {
      display: none;
    }
    &:before {
      bottom: -1px;
    }
    &::before,
    &::after {
      content: "";
      width: 15px;
      height: 15px;
      display: block;
      border-right: solid 2px white;
      border-bottom: solid 2px white;
      position: absolute;
      transform: rotate(45deg);
      margin: auto;
      left: 0;
      right: 0;
    }
  }
</style>
