---
import useWPApi, { WP_REST_API_Staff } from "~/hooks/useWPApi";
import { Image } from "@astrojs/image/components";

import PageCatch from "~/components/catch/PageCatch.astro";
import { PAGES } from "~/consts";
import PageContent from "~/layouts/PageContent.astro";
import BreadCrumb from "~/components/common/BreadCrumb.astro";

const { className } = PAGES.STAFF;
const { fetchPosts } = useWPApi();

const Staffs = await fetchPosts<WP_REST_API_Staff[]>(
  "staff",
  { per_page: 100, order: "asc" },
  false
);
if (!Staffs) return;
---

<PageContent class={className}>
  <PageCatch page={"STAFF"} />
  <BreadCrumb page={"STAFF"} pageTitle="スタッフの紹介" />
  <h2 class="page_title">下記よりスタッフの詳細を<br class="sp">ご覧頂けます。</h2>
  <div class="staff_list">
    {
      Staffs &&
        Staffs.map((staff) => (
          <div class="staff_box">
            <a class="staff_link" href={`/staff/${staff.id}`}>
              <Image
                class="staff_img"
                src={staff.acf.image}
                format={"webp"}
                loading={"eager"}
                width={258}
                height={241}
                alt={staff.acf.first_name + staff.acf.last_name}
              />
              <div class="staff_text">
                <p class="staff_title">{staff.acf.department}</p>
                <h4 class="staff_name">{`${staff.acf.first_name}　${staff.acf.last_name}`}</h4>
              </div>
            </a>
          </div>
        ))
    }
  </div>
</PageContent>
<style lang="scss">
  .page_title {
    text-align: center;
    margin-top: 171px;
    margin-bottom: 208px;
  }
  .staff_list {
    display: grid;
    max-width: 1142px;
    margin: 0 auto;
    justify-content: space-between;
    row-gap: 133px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .staff_link {
    display: inline-block;
  }
  .staff_img {
    vertical-align: middle;
    margin-bottom: 32px;
  }
  .staff_box {
    text-align: center;
  }
  .staff_text {
    line-height: 1.1875;
  }
  .staff_title {
    font-weight: bold;
    margin-bottom: 12px;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .page_title {
      text-align: center;
      line-height: vw(30px);
      padding: 0 vw(35px);
      margin: vw(60px) auto vw(41px);
    }
    .staff_list {
      padding: 0 vw(25px);
      grid-template-columns: 1fr 1fr;
      column-gap: vw(14px);
      row-gap: vw(55px);
      margin-bottom: vw(100px);
    }
    .staff_img {
      margin-bottom: vw(12px);
    }
    .staff_title,
    .staff_name {
      font-size: vw(14px);
      line-height: vw(22px);
    }
    .staff_title {
      margin-bottom: 0;
    }
  }
</style>
