---
import { Image } from "@astrojs/image/components";
import { PAGES } from "~/consts";
import NavReform from "~/img/top/nav_reform.png";
import NavLearn from "~/img/top/nav_learn.png";
import NavSpace from "~/img/top/nav_space.png";
import NavSaisei from "~/img/top/nav_saisei.png";
import NavConsult from "~/img/top/nav_consult.png";
import NavTherapist from "~/img/top/nav_therapist.png";
import NavStaff from "~/img/top/nav_staff.png";
import NavAbout from "~/img/top/nav_about.png";
import NavInquiry from "~/img/top/nav_inquiry.png";

type NavContent = {
  image: ImageMetadata;
  title: string;
  description: string;
  link: string;
};

const navContents: NavContent[] = [
  {
    image: NavReform,
    title: PAGES.REFORM.title,
    description: "イエノコトのリフォーム事例や流れを詳しくご紹介しています。",
    link: PAGES.REFORM.slug,
  },
  {
    image: NavLearn,
    title: PAGES.LEARN.title,
    description:
      "暮らしが豊かになる、片付けなどの暮らしの講座や、コンテンツ、片付けサポートを用意しています。",
    link: PAGES.LEARN.slug,
  },
  {
    image: NavSpace,
    title: "貸しスペース",
    description:
      "モデルハウスは貸しスペースとして利用できます。アロマなどの講座が開催されていますので、是非チェックしてみてください。",
    link: "/event",
  },
  {
    image: NavSaisei,
    title: PAGES.REPRODUCTION.title,
    description: "お持ちの古民家の、再生、移築を行います。",
    link: PAGES.REPRODUCTION.slug,
  },
  {
    image: NavConsult,
    title: PAGES.CONSULT.title,
    description:
      "どこに聞いていいかわからない家のこと、相続のこと、介護のこと…。専門家に相談してみませんか？",
    link: PAGES.CONSULT.slug,
  },
  {
    image: NavTherapist,
    title: "セラピストになる",
    description:
      "片付けをさらにさらに学びたい、仕事につなげたい方向けの専門資格、家事セラピストになりませんか？",
    link: "/#",
  },
  {
    image: NavStaff,
    title: "スタッフ紹介",
    description: "イエノコトで働くスタッフを紹介します。",
    link: PAGES.STAFF.slug,
  },
  {
    image: NavAbout,
    title: "会社概要・アクセス",
    description: "会社概要とアクセス、所在地をご紹介します。",
    link: "/about",
  },
  {
    image: NavInquiry,
    title: "お問い合わせ",
    description: `家のコト、暮らしのコトなど、お気軽にお問い合わせください。<br/>TEL：0120-200-789`,
    link: "/siryo",
  },
];
---

<nav class="top_nav">
  <ul>
    {
      navContents.map((nav) => (
        <li>
          <a class="top_nav_link" href={nav.link}>
            <Image
              src={nav.image}
              alt={nav.title}
              width={362}
              height={284}
              format="webp"
              loading="lazy"
            />
            <span>{nav.title}</span>
            <div class="hover_box">
              <p set:html={nav.description} />
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
<style lang="scss">
  .top_nav {
    ul {
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 42px 41px;
      justify-content: center;
      max-width: $baseContentWidth;
      .top_nav_link {
        display: block;
        width: 100%;
        height: 100%;
        &:hover {
          opacity: 1;
        }
      }
      li {
        position: relative;
        span {
          position: absolute;
          top: 30px;
          left: 24px;
          text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
          font-size: 24px;
          font-weight: bold;
          line-height: 1.25;
          color: white;
        }
        .hover_box {
          opacity: 0;
          position: absolute;
          inset: 0;
          padding: 32px 28px;
          margin: auto;
          width: 315px;
          height: 186px;
          transition: opacity 0.3s 0.1s ease-in-out;
          background-color: rgba(#f5f2f2, 0.87);
          line-height: 1.875;
          font-weight: bold;
          a {
            display: inline-block;
            margin-top: 1em;
          }
        }
        &:hover {
          .hover_box {
            opacity: 1;
          }
        }
      }
    }
  }
</style>
