---
import { PAGES } from "~/consts";
import type { PageKey } from "~/consts";
export type Props = {
  page: PageKey;
  pageTitle?: string; //通常PAGESのプロパティ、PAGES.titleを挿入するが変更したい場合
  subPageTitle?: string; //もし自身が下層ページであれば、そのタイトルを入力する
};
const { page, pageTitle: propTitle, subPageTitle } = Astro.props;
const pageTitle = propTitle || PAGES[page].title;
---

<ul class="breadcrumb">
  <li>
    <a href={PAGES.HOME.slug}>Home</a>
  </li>
  {
    !subPageTitle ? (
      <li>{pageTitle}</li>
    ) : (
      <>
        <li>
          <a href={PAGES[page].slug}>{pageTitle}</a>
        </li>
        <li>{subPageTitle}</li>
      </>
    )
  }
</ul>
<style lang="scss">
  .breadcrumb {
    display: flex;
    justify-content: left;
    margin-top: 44px;
    font-weight: bold;
    max-width: $designLineWidth;
    padding-left: 134px;
    li + li::before {
      content: ">";
    }
  }
</style>
