---
import { Image } from "astro:assets";
import classNames from "classnames";
export type Props = {
  contents: {
    title: string;
    text: string;
    image: ImageMetadata;
  }[];
  class?: string;
};
const { contents, class: className } = Astro.props;
---

<div class={classNames(["loop_section", className])}>
  {
    contents.map((content) => (
      <section class="loop_content">
        <h4 class="content_title sp">{content.title}</h4>
        <Image
          src={content.image}
          alt={content.title}
          width={443}
          height={327}
        />
        <div>
          <h4 class="content_title pc">{content.title}</h4>
          <p class="content_text" set:html={content.text} />
        </div>
      </section>
    ))
  }
</div>

<style lang="scss">
  .loop_content {
    display: flex;
    justify-content: space-between;
    column-gap: 125px;
    max-width: 1140px;
    margin: auto;
    @media screen and (max-width: 1300px) {
      max-width: 95%;
      column-gap: 5%;
    }
    + .loop_content {
      margin-top: 197px;
    }
    img {
      height: 100%;
    }
  }
  .loop_content:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  .content_title {
    margin-bottom: 63px;
  }
  .content_text {
    line-height: 2;
    :global(a) {
      // opacity: 0.72;
      // border-bottom: solid 1px rgba(108, 108, 96, 0.72);
    }
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .loop_section {
      margin-bottom: vw(50px);
    }
    .loop_content {
      flex-direction: column;
      max-width: 100%;
      padding: 0 vw(31px);
      img {
        margin: 0 auto vw(25px);
      }
      + .loop_content {
        flex-direction: column;
        margin-top: vw(50px);
      }
    }
    .content_title {
      margin-bottom: vw(25px);
    }
  }
</style>
