---
import { Image } from "@astrojs/image/components";
export type Props = {
  title?: string;
  noTitle?: boolean;
  copy?: string;
};
const { title, noTitle = false, copy } = Astro.props;
const Columns = [
  {
    id: 1,
    title: "エンディングノートワークショップ",
    date: "2023年2月10日（金）",
    url: "http://www.example.com/",
    image: "https://placehold.jp/322x322.png",
  },
  {
    id: 2,
    title: "ちょこっと片付けのススメ",
    date: "2023年2月21日（火）",
    url: "http://www.example.com/",
    image: "https://placehold.jp/322x322.png",
  },
  {
    id: 3,
    title: "リクシル福岡　小さく豊かに暮らす",
    date: "2023年2月22日（水）",
    url: "http://www.example.com/",
    image: "https://placehold.jp/322x322.png",
  },
];
---

<section class="column_list">
  {!noTitle && <h3>{title || "暮らしのお便り・コラム"}</h3>}
  {copy && <p class="copy" set:html={copy} />}
  <ul>
    {
      Columns.map((post) => (
        <li>
          <a href={post.url}>
            <Image
              src={post.image}
              width={322}
              height={322}
              format="webp"
              loading={"lazy"}
              alt={post.title}
            />
            <time>{post.date}</time>
            <p>{post.title}</p>
          </a>
        </li>
      ))
    }
  </ul>
  <a href="/column" class="more">＞＞もっと見る</a>
</section>
<style lang="scss">
  .column_list {
    max-width: $baseContentWidth;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    margin-bottom: 111px;
  }
  .copy {
    margin-top: 99px;
    margin-bottom: 85px;
    max-width: 538px;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
  }
  img {
    margin-bottom: 30px;
  }
  a:hover {
    opacity: 0.72;
  }
  time {
    display: block;
    margin-bottom: 0px;
    line-height: 1.875;
    margin-right: 53px;
  }
  p {
    line-height: 1.875;
  }
  .more {
    text-align: right;
    display: block;
    margin-top: 62px;
  }
</style>
