---
import useWPApi from "~/hooks/useWPApi";
import { Image } from "@astrojs/image/components";
import dayjs from "dayjs";
import ja from "dayjs/locale/ja";
dayjs.locale(ja);
const { fetchPosts } = useWPApi();
const Columns = await fetchPosts("column", { per_page: 3 });
if (!Columns) return;

export type Props = {
  title?: string;
  noTitle?: boolean;
  copy?: string;
};
const { title, noTitle = false, copy } = Astro.props;
---

<section class="column_list">
  {!noTitle && <h3>{title || "暮らしのお便り・コラム"}</h3>}
  {copy && <p class="copy" set:html={copy} />}
  <ul>
    {
      Columns.map((post) => (
        <li>
          <a href={post.link}>
            <Image
              src={post._embedded["wp:featuredmedia"][0].source_url}
              width={322}
              height={322}
              format="webp"
              loading={"lazy"}
              alt={post.title.rendered}
            />
            <time>{dayjs(post.date).format("YYYY年MM月DD日(dd)")}</time>
            <p>{post.title.rendered}</p>
          </a>
        </li>
      ))
    }
  </ul>
  <a href=`${Astro.site}/column` class="more">＞＞もっと見る</a>
</section>
<style lang="scss">
  .column_list {
    max-width: $baseContentWidth;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    margin-bottom: 111px;
  }
  .copy {
    margin-top: 99px;
    margin-bottom: 85px;
    max-width: 538px;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
  }
  li {
    @media screen and (max-width: 1300px) {
      width: vw(322px, 1000px);
    }
  }
  img {
    margin-bottom: 30px;
  }
  a:hover {
    opacity: 0.72;
  }
  time {
    display: block;
    margin-bottom: 0px;
    line-height: 1.875;
    margin-right: 53px;
  }
  p {
    line-height: 1.875;
  }
  .more {
    text-align: right;
    display: block;
    margin-top: 62px;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .column_list {
      padding: 0 vw(26px);
    }
    h3 {
      margin-bottom: vw(45px);
    }
    .copy {
      margin: vw(25px) auto;
    }
    ul {
      margin-top: 0;
      flex-direction: column;
      gap: vw(26px);
      li {
        width: 100%;
        &:not(:first-child) {
          display: none;
        }
      }
    }
    img {
      display: block;
      margin: 0 auto vw(30px);
    }
    time,
    p {
      padding: 0 vw(50px);
      margin: 0;
    }
    .more {
      text-align: center;
      margin-top: vw(50px);
    }
  }
</style>
