---
import SNSList from "~/components/global/SNSList.astro";
import { Image } from "astro:assets";
import FooterLogo from "~/img/footer_logo.png";
import classnames from "classnames";
const { class: className } = Astro.props;
import { PAGES } from "../../consts";
---

<footer class={classnames(className)}>
  <div class="footer-content">
    <div class="footer-left">
      <Image
        class="footer-logo"
        src={FooterLogo}
        format={"webp"}
        width={233}
        alt="イエノコト"
      />
      <address>
        〒818-0104<br />
        福岡県太宰府市通古賀5-2-3<br />
        TEL：0120-200-789<br />
        営業時間：10:00～17:00（水曜定休）
      </address>
    </div>
    <div class="footer-right">
      <ul class="footer-menu">
        <li><a href="/">ホーム</a></li>
        <li><a href={PAGES.REFORM.slug}>家づくり</a></li>
        <li><a href={PAGES.LEARN.slug}>暮らしの講座</a></li>
        <li><a href="/event">貸しスペース</a></li>
        <li class="pc">
          <a href={PAGES.REPRODUCTION.slug}>古民家再生</a>
        </li>
      </ul>
      <ul class="footer-menu">
        <li class="pc"><a href={PAGES.CONSULT.slug}>暮らしの相談</a></li>
        <li class="pc">
          <a target="_blank" href="https://kajitherapist.hp.peraichi.com/kaji"
            >家事セラピスト養成講座</a
          >
        </li>
        <li class="pc"><a href={PAGES.STAFF.slug}>スタッフ紹介</a></li>
      </ul>
      <ul class="footer-menu">
        <li><a href="/company/">会社概要・アクセス</a></li>
        <li class="pc"><a href="/siryo/">お問い合わせ</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-sns">
    <SNSList />
    <small
      >Copyright©イエノコト株式会社<span class="pc"> </span><br class="sp" />All
      Rgiths Reserved</small
    >
  </div>
  <div class="footer-tel">
    <a href="tel:0120-200-789">TEL　0120-200-789</a>
  </div>
  <a href="#head" class="goback fade" data-show-position={100} title="上に戻る"
  ></a>
</footer>
<style lang="scss">
  footer {
    min-height: 318px;
    background-color: rgba(#6c6c60, 0.72);
  }
  .footer-content {
    color: #fff;
    max-width: $designLineWidth;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: vw(136px, $baseWindowWidth);
    padding-right: vw(278px, $baseWindowWidth);
    padding-bottom: 72px;
  }
  .footer-left {
    margin-top: 61px;
  }
  .footer-logo {
    margin-bottom: 38px;
  }
  .footer-right {
    margin-top: 96px;
  }
  .footer-menu {
    display: flex;
    & + & {
      margin-top: 31px;
    }
  }
  li {
    & + li {
      margin-left: 26px;
    }
  }
  address {
    line-height: calc(30 / 16);
  }
  .footer-sns {
    padding-top: 70px;
    min-height: 244px;
    text-align: center;
    background-color: #fff;
    small {
      display: block;
      margin-top: 47px;
    }
  }
  .footer-tel {
    display: none;
  }
  .goback {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 80px;
    width: 30px;
    height: 30px;
    border-top: solid 1px #6c6c60;
    border-left: solid 1px #6c6c60;
    transform: rotate(45deg);
  }
  @media screen and (max-width: 1024px) {
    .footer-content {
      flex-direction: column;
    }
  }
  @media screen and (max-width: $mobileBreakPoint) {
    footer {
      padding-bottom: vw(50px);
    }
    .footer-sns {
      background: none;
      min-height: 0;
      padding: vw(23px) 0 vw(30px);
      small {
        line-height: vw(20px);
        margin: 0;
      }
    }
    :global(.sns_list) {
      display: none;
    }
    .footer-content {
      flex-direction: column-reverse;
      padding: 0 vw(43px);
    }
    .footer-right {
      margin-top: vw(43px);
    }
    .footer-menu {
      flex-direction: column;
      text-align: center;
      & + & {
        margin-top: 0;
      }
      li {
        margin-top: vw(28px);
        & + li {
          margin-left: 0;
        }
      }
      &:first-child li:first-child {
        margin-top: 0;
      }
    }
    .footer-left {
      margin-top: vw(52px);
      text-align: center;
      address {
        margin-top: vw(29px);
      }
    }
    .footer-logo {
      margin-bottom: 0px;
      width: vw(195px);
      height: vw(43px);
    }
    .footer-tel {
      width: 100%;
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      a {
        display: block;
        color: white;
        font-size: vw(24px);
        font-weight: bold;
        height: vw(50px);
        line-height: vw(50px);
        text-align: center;
        background: rgba(#6c6c60, 0.72);
        padding: 0;
      }
    }
    .goback {
      display: none;
    }
  }
</style>
