---
import { Image } from "astro:assets";
// import { Link } from "@astrojs/router";
import Logo from "~/img/logo.png";
import { SITE_TITLE } from "../../consts";
import { PAGES } from "../../consts";
const isHome = Astro.url.pathname === "/";
---

<script>
  /* レスポンシブ時はfadeさせない */
  if (location.pathname === "/" && window.outerWidth <= 1024) {
    const nav = document.querySelector("nav");
    nav?.classList.remove("fade");
  }
  //
  if (window.outerWidth <= 1024) {
    window.onscroll = (event) => {
      const nav = document.querySelector("nav");
      window.scrollY > 10
        ? nav?.classList.add("on_scroll")
        : nav?.classList.remove("on_scroll");
    };
  }
</script>

<nav class={isHome ? "fade" : ""}>
  <div class="wrap">
    <a href="/">
      <Image
        src={Logo}
        width={172}
        alt={SITE_TITLE}
        class="logo"
        format="webp"
      />
    </a>
    <ul class="main_navi">
      <li><a href={PAGES.REFORM.slug}>リフォーム</a></li>
      <li><a href={PAGES.LEARN.slug}>中古リノベ</a></li>
      <li><a href={PAGES.LEARN.slug}>暮らしを学ぶ</a></li>
      <li><a href="/event">貸しスペース</a></li>
      <li><a href={PAGES.CONSULT.slug}>家のコト相談窓口</a></li>
      <li><a href={PAGES.REPRODUCTION.slug}>古民家再生</a></li>
      <li><a href={PAGES.STAFF.slug}>スタッフ</a></li>
      <li><a href="/company/">会社概要</a></li>
      <li><a href="/siryo/">お問い合わせ</a></li>
    </ul>
  </div>
  <a class="slide_box">
    <span class="slide_bar"></span>
    <span class="slide_bar"></span>
    <span class="slide_bar"></span>
  </a>
</nav>
<style lang="scss">
  nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    height: 85px;
    line-height: 85px;
    background-color: rgba($color: #6c6c60, $alpha: 0.72);

    .wrap {
      max-width: 1676px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      @media screen and (min-width: 1650px) {
        padding-left: 84px;
        padding-right: 130px;
        justify-content: space-between;
      }
    }
    .logo {
      margin-top: 21px;
    }
    li {
      color: #fff;
      display: inline-block;
      & + li:before {
        content: "／";
      }
    }
  }
  @media screen and (max-width: 1024px) {
    nav {
      right: 0;
      .wrap {
        display: block;
      }
      .main_navi {
        position: fixed;
        display: block;
        width: 280px;
        right: -280px;
        top: 0;
        height: 110%;
        background-color: rgba(133, 93, 60, 0.8);
        padding-top: 40px;
        padding-left: 14px;
        z-index: 998;
        box-sizing: border-box;
        overflow-y: scroll;
      }
      li {
        display: block;
        width: 100%;
        height: 50px;
        & + li::before {
          display: none;
        }
      }
      a {
        display: block;
        line-height: 100%;
        height: 100%;
      }
    }
    .logo {
      // display: none;
      padding-left: 10px;
    }
    .slide_box {
      position: absolute;
      display: block;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 35px;
      height: 35px;
      z-index: 999;
    }
    .slide_bar {
      display: block;
      width: 100%;
      border-top: solid 4px #fff;
      margin-bottom: 10px;
      border-radius: 5px;
      transition: transform 0.25s ease;
    }
  }
  @media screen and (max-width: $mobileBreakPoint) {
    nav {
      position: fixed;
      background-color: transparent;
      transition: opacity, background-color 0.7s;
      .logo {
        opacity: 0;
      }
      .slide_bar {
        border-color: #707070;
      }
      &.on_scroll {
        background-color: rgba(108, 108, 96, 0.72);

        .logo {
          opacity: 1;
        }
        .slide_bar {
          border-color: #fff;
        }
      }
    }
  }
  :global(.open) {
    .slide_bar {
      border-color: white;
    }
    .slide_bar:first-child {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);

      top: 14px;
      position: relative;
    }

    .slide_bar:nth-child(2) {
      display: none;
    }

    .slide_bar:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      /*top: -7px;*/
      position: relative;
    }
  }
</style>
