---
import { Image } from "@astrojs/image/components";
// import { Link } from "@astrojs/router";
import Logo from "~/img/logo.png";
import { SITE_TITLE } from "../../consts";
import { PAGES } from "../../consts";
const isHome = Astro.url.pathname === "/";
---

<script>
  /* レスポンシブ時はfadeさせない */
  if (location.pathname === "/" && window.outerWidth <= 1024) {
    const nav = document.querySelector("nav");
    nav?.classList.remove("fade");
  }
</script>
<nav class={isHome ? "fade" : ""}>
  <div class="wrap">
    <a href="/">
      <Image
        src={Logo}
        width={172}
        alt={SITE_TITLE}
        class="logo"
        format="webp"
      />
    </a>
    <ul>
      <li><a href={PAGES.REFORM.slug}>リフォーム</a></li>
      <li><a href={PAGES.LEARN.slug}>暮らしの講座</a></li>
      <li><a href="/event">貸しスペース</a></li>
      <li><a href={PAGES.REPRODUCTION.slug}>古民家再生</a></li>
      <li><a href={PAGES.CONSULT.slug}>暮らしの相談所</a></li>
      <li><a href={PAGES.STAFF.slug}>スタッフ</a></li>
      <li><a href="/about/">会社概要</a></li>
      <li><a href="/siryo/">お問い合わせ</a></li>
    </ul>
  </div>
  <a class="sp_slide_box">
    <span class="slide_bar"></span>
    <span class="slide_bar"></span>
    <span class="slide_bar"></span>
  </a>
</nav>
<style lang="scss">
  nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    height: 85px;
    line-height: 85px;
    background-color: rgba($color: #6c6c60, $alpha: 0.72);
    .wrap {
      max-width: 1676px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      @media screen and (min-width: 1650px) {
        padding-left: 84px;
        padding-right: 130px;
        justify-content: space-between;
      }
    }
    .logo {
      margin-top: 21px;
    }
    li {
      color: #fff;
      display: inline-block;
      & + li:before {
        content: "／";
      }
    }
  }
  @media screen and (max-width: 1024px) {
    nav {
      height: auto;
      .wrap {
        display: block;
      }
      ul {
        position: fixed;
        display: block;
        width: 250px;
        right: -250px;
        top: 0;
        height: 110%;
        background-color: rgba(133, 93, 60, 0.8);
        padding-top: 40px;
        z-index: 998;
        box-sizing: border-box;
        overflow-y: scroll;
      }
      li {
        display: inline-block;
        width: 100%;
        & + li::before {
          content: "";
        }
      }
    }
    .logo {
      position: absolute;
      inset: 0;
      margin: auto;
    }
    .sp_slide_box {
      position: absolute;
      display: block;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 35px;
      height: 35px;
      z-index: 999;
    }
    .slide_bar {
      display: block;
      width: 100%;
      border-top: solid 4px white;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }
</style>
